<template>
    <v-app dark>
        <v-toolbar app>
            <v-toolbar-title class="headline">
                <span :class="titleClass">{{ titleText }}</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon to="about">
                <v-icon>info</v-icon>
            </v-btn>
        </v-toolbar>

        <v-content>
            <router-view transition="fade" transition-mode="in-out"/>
        </v-content>

        <v-footer fixed app>
            <v-spacer/>
            <span>&copy; 2019 - <strong>VTT</strong>&nbsp;&nbsp;Album and song titles, band names and album art are copyright to their respective owners.&nbsp;&nbsp;</span>
        </v-footer>
    </v-app>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'App',
        data() {
            return {
                //
            }
        },
        computed: {
            ...mapGetters([
                'isSensitiveDemo'
            ]),
            titleClass: {
                get() {
                    if (this.isSensitiveDemo) {
                        return "vintage";
                    }
                    else {
                        return "metal";
                    }
                }
            },
            titleText: {
                get() {
                    if (this.isSensitiveDemo) {
                        return "Collector's Toolbox";
                    }
                    else {
                        return "Metal Codex";
                    }
                }
            }
        },
        methods: {
            activateRoute(routeName) {
                this.$router.push({name: routeName});
            }
        }
    }
</script>

<style lang="sass">
    @import url(https://fonts.googleapis.com/css?family=New+Rocker:400)
    @import url(https://fonts.googleapis.com/css?family=Pacifico&display=swap)

    $metal_font: 'New Rocker', cursive
    $vintage_font: 'Pacifico', cursive

    .metal
        font-family: $metal_font
        font-size: 36px

    .vintage
        font-family: $vintage_font
        font-size: 30px
</style>