<template>
    <v-flex xs6 lg4>
        <v-card :color="cardColor" height="100%">
            <v-img :src="finalArtUrl" aspect-ratio="1"/>
            <v-card-title primary-title>
                <div>
                    <h3 class="headline">{{ band.getDisplayname() }}</h3>
                    <div>
                        <ul>
                            <li v-for="link in band.getLinksList()" v-bind:key="link.name">
                                <a :href="link.getUrl()">{{ link.getName() }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
    import errorImage from '../assets/error.png'

    export default {
        name: "BandCard",
        props: {
            band: Object
        },
        computed: {
            finalArtUrl: {
                get() {
                    if (this.band.getArtlink() != null) {
                        return this.band.getArtlink().getUrl();
                    }
                    else {
                        return errorImage;
                    }
                }
            },
            cardColor: {
                get() {
                    if (this.band.getUpstreamerror()) {
                        return "deep-orange darken-4";
                    }
                    else {
                        return "grey darken-3"
                    }
                }
            }
        }
    }
</script>