<template>
    <div>
        <v-card>
            <v-img :src="require('@/assets/vtt_background_slogan.png')" alt="VTT - beyond the obvious"></v-img>
            <v-card-title primary-title>
                <div>
                    <div class="headline">{{ headlineMessage }}</div>
                    <span class="grey--text">{{ explanationMessage }}</span>
                </div>
            </v-card-title>
            <v-card-actions v-if="isServerConnectionTried && !isServerConnectionSuccessful">
                <v-btn flat color="secondary" @click="notifyRetry">Try again</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'GreetingCard',
        computed: {
            ...mapGetters(['isServerConnectionTried', 'isServerConnectionSuccessful']),
            headlineMessage: function() {
                if (this.isServerConnectionTried && !this.isServerConnectionSuccessful) {
                    return "Failed to connect to the server";
                }
                else {
                    return "Contacting the server";
                }
            },
            explanationMessage: function() {
                if (this.isServerConnectionTried && !this.isServerConnectionSuccessful) {
                    return "We were not able to connect to the server. Please try again later.";
                }
                else {
                    return "Please wait while we are contacting the server. This might take a while...";
                }
            }
        },
        methods: {
            notifyRetry: function() {
                this.$emit('retry-server-connection');
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }
</style>
