<template>
  <v-layout justify-center>
    <v-flex xs12 sm8>
      <v-container grid-list-md>
        <v-layout row>
          <v-flex xs12>
            <v-card>
              <v-img :src="require('@/assets/vtt_background_slogan.png')" alt="VTT - beyond the obvious"></v-img>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline">About this demo</h3>
                  <div>
                    <ul>
                        <li>Developed by Zsolt Homorodi, (C) 2019 - <strong>VTT</strong></li>
                        <li>Code available under Apache License 2.0</li>
                        <li>Fire photo by Ricardo Gomez Angel on Unsplash</li>
                        <li>Album and song titles, band names and album art are copyright to their respective owners</li>
                    </ul>
                  </div>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-btn flat color="secondary" target="_code" href="https://gitlab.com/hazsetata/kubedemo">Code repository</v-btn>
                <v-btn flat color="secondary" target="_vtt" href="https://www.vttresearch.com/">VTT homepage</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
        <v-layout row v-if="isServerConnectionSuccessful">
          <v-flex xs12>
            <v-card>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline">Backend information</h3>
                </div>
                <v-spacer></v-spacer>
                <v-card-actions>
                  <v-btn icon @click="showServerInfoText = !showServerInfoText">
                    <v-icon>{{ showServerInfoText ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card-title>
              <v-slide-y-transition>
                <v-card-text v-show="showServerInfoText">
                  <ul>
                    <li>Version: {{ getServerVersionInfo.version }}</li>
                    <li>Git branch: {{ getServerVersionInfo.gitBranch }}</li>
                    <li>Git commit id: {{ getServerVersionInfo.gitCommitId }}</li>
                  </ul>
                </v-card-text>
              </v-slide-y-transition>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "about",
    data: () => ({
      showServerInfoText: false
    }),
    computed: {
      ...mapGetters([
        'getServerVersionInfo',
        'isServerConnectionSuccessful'
      ]),
    }
  }
</script>