<template>
    <v-layout justify-center>
        <v-flex xs12 sm8>
            <v-container grid-list-md>
                <v-layout row>
                    <v-flex xs4 offset-xs8>
                        <v-select
                                :items="updateIntervals"
                                label="Auto-update interval"
                                prepend-icon="access_time"
                                v-model="selectedUpdateInterval"
                                suffix="sec"
                        >
                        </v-select>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <BandCard v-for="bandEntry in getBandEntries" v-bind:key="bandEntry.getName()" :band="bandEntry"/>
                </v-layout>
            </v-container>
        </v-flex>
    </v-layout>
</template>

<script>
    import BandCard from "../components/BandCard";
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "bands",
        components: {BandCard},
        timers: {
            updateUI: {time: 3000, autostart: true, immediate: true, repeat: true}
        },
        data() {
            return {
                updateIntervals: [3, 10, 15, 20, 30]
            }
        },
        watch: {
            selectedUpdateInterval: function (newValue) {
                this.$timer.stop('updateUI');
                this.timers.updateUI.time = newValue * 1000;
                this.$timer.start('updateUI');
            }
        },
        computed: {
            ...mapGetters([
                'getUIAutoUpdateInterval',
                'hasBandEntries',
                'getBandEntries'
            ]),
            selectedUpdateInterval: {
                get() {
                    return this.getUIAutoUpdateInterval
                },
                set(value) {
                    this.doSetUiAutoUpdateInterval(value)
                }
            }
        },
        methods: {
            ...mapActions(['doSetUiAutoUpdateInterval', 'doSetBandData']),
            updateUI() {
                console.log("Time to update...");
                this.$vttapi.getBandList().then((bandEntries) => {
                    this.doSetBandData(bandEntries);
                });
            }
        }
    }
</script>