<template>
    <v-layout align-center>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex xs12 sm8 offset-sm2>
                    <GreetingCard v-on:retry-server-connection="tryServerConnection"></GreetingCard>
                </v-flex>
                <v-flex v-if="!isServerConnectionTried" xs10 offset-xs1>
                    <v-progress-linear :indeterminate="true" color="primary"></v-progress-linear>
                </v-flex>
            </v-layout>
        </v-container>
    </v-layout>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
<script>
    import GreetingCard from "../components/GreetingCard";
    import { mapGetters, mapActions } from 'vuex';

    export default {
        components: {GreetingCard},
        computed: {
            ...mapGetters(['isServerConnectionTried', 'isServerConnectionSuccessful'])
        },
        methods: {
            ...mapActions(['doResetServerConnectionInfo']),
            showEcg(timeout) {
                if (timeout > 0) {
                    setTimeout( () => this.$router.push({ name: 'bands'}), timeout);
                }
                else {
                    this.$router.push({ name: 'bands'});
                }
            },
            tryServerConnection() {
                if (!this.isServerConnectionTried) {
                    this.getServerInfo();
                }
                else {
                    if (this.isServerConnectionSuccessful) {
                        this.showEcg(0);
                    }
                    else {
                        this.doResetServerConnectionInfo();
                        this.getServerInfo();
                    }
                }
            },
            getServerInfo() {
                this.$vttapi.getServerInfo().then(() => {
                    if (this.isServerConnectionSuccessful) {
                        this.showEcg(1500);
                    }
                });
            }
        },
        mounted() {
            this.tryServerConnection();
        }
    }
</script>